@import "tailwindcss";

@plugin "daisyui";

html {
    background-color: #000;
}

body {
    transition: opacity ease-in-out 0.1s;
    opacity: 1;
}

.faded {
    opacity: 0 !important;
}

.navbar {
    /* position: sticky; */
    /* top: 0px; */
    /* z-index: 99999; */
}